<h1>Pirate Information</h1>
<p>Pirate Name: <%= @pirate.name %></p>
<p>Pirate Weight: <%= @pirate.weight %></p>
<p>Pirate Height: <%= @pirate.height %></p>

<h2>Ship Information</h2>
<% @ships.each do |ship| %>
  <p>Ship Name: <%= ship.name %></p>
  <p>Ship Weight: <%= ship.weight %></p>
  <p>Ship Booty: <%= ship.booty %></p>
<% end %>